@font-face {
  font-family: "Ostrich-Sans";
  font-style: italic;
  src: url("./assets/fonts/ostrich-sans-master/webfonts/ostrich-sans-inline-italic.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #333;
}

header {
  padding: 5px;
  font-size: x-large;
  line-height: 200%;
  text-align: center;
  color: white;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  font-family: "Ostrich-Sans";
  font-style: italic;
}
